.effect {
  text-align: center;
}

.effect-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.effect.active .effect-header {
  background-color: #444;
}

.effect-intro {
  font-size: large;
}
